<!DOCTYPE html>
<html lang="en" class="vh-bottom">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="-1">
  <meta http-equiv="expires" content="-1">
  <meta name="robots" content="noindex">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<ec-curtains>
  <div class="loading">loading</div>
  <div class="start">tap to start</div>
</ec-curtains>

<ec-comic id="comic" style="width:{{screenW}}px; height:{{screenH}}px;">
{{#pages}}
  <ec-page id="step-{{@index}}" class="step">
    {{#panels}}
    <!--<ec-panel id="panel-{{@../index}}-{{@index}}" style="width:{{w}}px; height:{{h}}px; left:{{x}}px; top:{{y}}px; z-index:{{z}};">-->
    <ec-panel id="panel-{{@../index}}-{{@index}}" style="width:{{wPercent}}%; height:{{hPercent}}%; left:{{xPercent}}%; top:{{yPercent}}%; z-index:{{z}};">
      <img src="{{{src}}}">
    </ec-panel>
    {{/panels}}
  </ec-page>
{{/pages}}
</ec-comic>


<script src="js/electricomics.js"></script>
<script src="js/storage.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/raf.js"></script>
<script src="js/picturefill.min.js"></script>
<script src="js/comic.js"></script>

<script>
/* global CreateDigitalComic */
var comicJSON = {
  storage: false,
  zoom: false,
  id: 'xec-big-nemo',
  width: {{screenW}},
  height: {{screenH}},
  transitionIn: 'normal',
  transitionOut: 'normal'
};
var comic;

window.onload = function() {
  comic = new CreateDigitalComic(comicJSON);
  comic.start();

  window.onresize = function() {
    requestAnimationFrame(comic.resize);
  };
};
</script>

</body>
</html>